PORT=3000
CORS_ORIGIN=http://localhost:3000
DATABASE_URL=postgresql://neondb_owner:npg_Ym2oqQEBHux3@ep-floral-star-aqtrxc75-pooler.c-8.us-east-1.aws.neon.tech/tiendaCyC?sslmode=require&channel_binding=require